@use '../colors';

.c-input {

  input {
    padding: 0.5rem;
    margin-right: 0.5rem;
    border-radius: 4px;
    border: 1px solid colors.$gray;
    width: 200px;
  }

  button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    background-color: colors.$primary-color;
    color: white;
    cursor: pointer;

    &:hover {
      background-color: darken(colors.$primary-color, 10%);
    }
  }
}