@use './colors';

// General styles
input[type='radio'] {
    display: none;
}

.o-stopwatch-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    font-family: Arial, sans-serif;
    padding: 1rem;
    background-color: colors.$gray;
    min-height: calc(100vh - 50px);

    &--title {
        color: colors.$black-color;
        font-size: 2.5rem;
        margin-bottom: 0;
    }

    &--desc {
        text-align: center;
        font-weight: 300;
        color: colors.$dark-gray;
    }
}

.c-square {

    &--red,
    &--blue,
    &--black {
        display: inline-block;
        height: 12px;
        width: 12px;
        margin: 0 4px;
    }

    &--red {
        background-color: colors.$red-color;
    }
    
    &--blue {
        background-color: colors.$blue-color;
    }
    
    &--black {
        background-color: colors.$black-color;
    }
}